.header {
  margin-top: 50px;
}

.brand {
  padding: 0px;
}

.image {
  padding-top: 10px;
  padding-left: 20px;
}

.navbar {
  background-color: transparent;
}

.button {
  display: block;
}

.section {
  margin-right: auto;
  margin-left: auto;
}

.button-2 {
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin-top: 190px;
}

.wrapper__one {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 61px;
  grid-row-gap: 61px;
}

.text-block {
  display: inline-block;
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 150px;
}

.div-block {
  height: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.text-block-2 {
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 20px;
  background-color: transparent;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-link:focus-visible {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-link[data-wf-focus-visible] {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown {
  margin-right: 5px;
  margin-left: 5px;
}

.nav-dropdown-toggle {
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-dropdown-toggle:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  border-radius: 12px;
  background-color: #fff;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #e4ebf3;
}

.nav-link-accent {
  margin-right: 20px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, 0.75);
}

.button-primary {
  padding: 12px 25px;
  background-color: #1a1b1f;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary:active {
  background-color: #43464d;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-3 {
  margin-right: 20px;
  background-color: #ffc47f;
  color: #000;
}

.container-2 {
  margin-top: 164px;
  margin-bottom: 164px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 19px;
  grid-row-gap: 19px;
}

.text-block-3 {
  margin-top: 33px;
  font-family: Montserrat, sans-serif;
}

.heading {
  font-family: Montserrat, sans-serif;
}

.heading-2 {
  font-family: Montserrat, sans-serif;
  font-size: 70px;
  font-weight: 400;
}

.practices__tilte {
  margin-top: 39px;
}

.practices__cartwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
  grid-column-gap: 19px;
  grid-row-gap: 19px;
}

.link {
  display: block;
  margin-top: 30px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}

.container-3 {
  font-family: Montserrat, sans-serif;
}

.instructors {
  margin-top: 164px;
}

.instructors__cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 73px;
}

.instructors__text {
  max-width: 412px;
  margin-left: 52px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.instructors__text.instructors__text-two {
  margin-right: 52px;
  margin-left: 52px;
}

.instructors__img {
  margin-top: 0px;
}

.heading-3 {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
}

.text-block-4 {
  margin-top: 12px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.text-block-5 {
  margin-top: 28px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.button-4 {
  margin-top: 113px;
  margin-left: -52px;
  padding-right: 48px;
  background-color: #ffc47f;
  font-family: Montserrat, sans-serif;
  color: #000;
}

.footer {
  margin-top: 164px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list {
  margin-bottom: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.list-item {
  margin-left: 0px;
  padding-bottom: 10px;
}

.heading-4 {
  font-family: Montserrat, sans-serif;
}

.list-item-2 {
  padding-bottom: 10px;
}

.text-block-6 {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 20px;
}

.link-2 {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.text-block-7 {
  font-family: Montserrat, sans-serif;
}

.text-block-8 {
  max-width: 291px;
  margin-top: 9px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: transparent;
  }

  .nav-menu-two {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    padding: 20px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    background-color: #a6b1bf;
    color: #fff;
  }

  .text-block-8 {
    max-width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper__one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0px;
  }

  .nav-menu-two {
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 20px;
  }

  .nav-link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .practices__cartwrapper {
    margin-right: 0px;
    margin-left: 0px;
  }

  .instructors__text {
    max-width: 300px;
    margin-left: 20px;
  }

  .instructors__text.instructors__text-two {
    margin-right: 0px;
  }

  .button-4 {
    margin-left: 0px;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__menu {
    margin-top: 30px;
  }

  .footer__contact {
    margin-top: 30px;
  }
}

@media screen and (max-width: 479px) {
  .title {
    margin-top: 150px;
  }

  .text-block {
    font-size: 100px;
  }

  .text-block-2 {
    font-size: 30px;
  }

  .container {
    max-width: none;
  }

  .nav-menu-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading-2 {
    font-size: 35px;
  }

  .practices__cartwrapper {
    margin-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .instructors__cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .instructors__text {
    margin-left: 0px;
  }

  .instructors__text.instructors__text-two {
    margin-left: 0px;
  }

  .button-4 {
    margin-top: 50px;
  }

  .text-block-8 {
    max-width: 250px;
  }

  .container-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .instructors__carttwo.instructors__cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

